<h1>Editing person</h1>

<%= render "form", admin_person: @admin_person %>

<br>

<div>
  <%= link_to "Show this person", @admin_person %> |
  <%= link_to "Back to people", admin_people_path %>
</div>
